.container {
  background: linear-gradient(135deg, #6b8e23 60%, #556b2f 100%);
  padding: 28px;
  border-radius: 14px;
  max-width: 420px;
  margin: 40px auto;
  box-shadow: 0 0 18px rgba(0,0,0,0.5);
  color: #f0f0f0;
  font-family: 'Minecraft', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 48px; 
  text-shadow: 2px 2px 0 #000;
}

.image {
  border: 5px solid #8b4513;
  border-radius: 10px;
  background: #deb887;
  padding: 10px;
  margin-bottom: 24px; 
  width: 164px;
  height: 164px;
  object-fit: contain;
  box-shadow: 0 0 12px #654321;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 18px;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px 14px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.8);

}

.subtitle {
  padding: 6px 10px;
  border-radius: 6px;
  margin-bottom: 18px;
  font-size: 1.8rem;
  text-shadow: 4px 3px 0 #0b2b02e8;
  margin-top: 0px;
  letter-spacing: 1px;
}

.button {
  background-color: #228b22;
  border: none;
  padding: 14px 38px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px #1a6b1a;
  font-family: inherit;
  font-size: 1.3rem;
  transition: background-color 0.3s;
  text-shadow: 2px 2px 2px #000;
}

.button:hover {
  background-color: #32cd32;
}

@media (max-width: 600px) {
  .container {
    max-width: 95vw;
    padding: 10px;
    min-height: 70vh;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .image {
    margin-bottom: 20px;
  }
}
